<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.se1.postservice.domain.db.read.RPostMapper">

	<select id="findPost">
		SELECT * FROM post ${query} 
	</select>

	<resultMap id="post_result" type="com.se1.postservice.domain.db.dto.PostDto">
		<result column="id" jdbcType="BIGINT" javaType="java.lang.Long" property="id" />
		<result column="user_id" jdbcType="BIGINT" javaType="java.lang.Long" property="userId" />
		<result column="title" jdbcType="VARCHAR" javaType="java.lang.String" property="title" />
		<result column="summary" jdbcType="VARCHAR" javaType="java.lang.String" property="summary" />
		<result column="status" jdbcType="INTEGER" javaType="java.lang.Integer" property="status" />
		<result column="context" jdbcType="LONGNVARCHAR" javaType="java.lang.String" property="context" />
		<result column="image_list" jdbcType="VARCHAR" javaType="java.lang.String" property="imageList" />
		<result column="hash_tag" jdbcType="VARCHAR" javaType="java.lang.String" property="hashTag" />
		<result column="topic_tag_id" jdbcType="INTEGER" javaType="java.lang.Integer" property="topicTagId" />
		<result column="create_at" jdbcType="DATE" javaType="java.util.Date" property="createAt" />
		<result column="update_at" jdbcType="DATE" javaType="java.util.Date" property="updateAt" />
		<result column="like_count" jdbcType="INTEGER" javaType="java.lang.Integer" property="likeCount" />
		<result column="dislike_count" jdbcType="INTEGER" javaType="java.lang.Integer" property="dislikeCount" />
		<result column="comment_count" jdbcType="INTEGER" javaType="java.lang.Integer" property="commentCount" />
		<result column="share_count" jdbcType="INTEGER" javaType="java.lang.Integer" property="shareCount" />
		<result column="is_like" jdbcType="INTEGER" javaType="java.lang.Integer" property="isLike" />
		<result column="is_dislike" jdbcType="INTEGER" javaType="java.lang.Integer" property="isDislike" />
		<result column="view_count" jdbcType="INTEGER" javaType="java.lang.Integer" property="viewCount" />
	</resultMap>

<select id="findAllPostByTitle" resultMap="post_result">
		SELECT 
    *,
    (SELECT 
            GROUP_CONCAT(image_list
                    SEPARATOR ', ')
        FROM
            post_image_list
        WHERE
            post_id = p.id
        GROUP BY post_id) AS image_list,
    (SELECT 
            COUNT(pl.user_id)
        FROM
            db02.post_like pl
        WHERE
            pl.post_id = p.id AND pl.status = 1
        GROUP BY post_id) AS like_count,
    (SELECT 
            COUNT(pl.user_id)
        FROM
            db02.post_like pl
        WHERE
            pl.post_id = p.id AND pl.status = 2
        GROUP BY post_id) AS dislike_count,
    (SELECT 
            COUNT(id)
        FROM
            db02.comment cm
        WHERE
            cm.post_id = p.id AND cm.del_flg = 0
        GROUP BY post_id) AS comment_count,
    (SELECT 
            COUNT(pl.user_id)
        FROM
            db02.post_like pl
        WHERE
            pl.post_id = p.id AND pl.status = 1 AND pl.user_id = #{userId}
        GROUP BY post_id) AS is_like,
   (SELECT 
            COUNT(pl.user_id)
        FROM
            db02.post_like pl
        WHERE
            pl.post_id = p.id AND pl.status = 2 AND pl.user_id = #{userId}
        GROUP BY post_id) AS is_dislike,
   (SELECT 
            COUNT(pl.user_id)
        FROM
            db02.post_view pl
        WHERE
            pl.post_id = p.id) AS view_count
FROM
    post p
		WHERE
		    p.`context` like '%#{title}%' and p.`title` like '%#{title}%' and p.`hash_tag` like '%#{title}%' and 
		        AND p.delflg = 0 
		        AND p.status = 1
		ORDER BY p.create_at DESC
		LIMIT 10 OFFSET #{offset}
	</select>
	
	<select id="findAllPostByHashTag" resultMap="post_result">
		SELECT 
    *,
    (SELECT 
            GROUP_CONCAT(image_list
                    SEPARATOR ', ')
        FROM
            post_image_list
        WHERE
            post_id = p.id
        GROUP BY post_id) AS image_list,
    (SELECT 
            COUNT(pl.user_id)
        FROM
            db02.post_like pl
        WHERE
            pl.post_id = p.id AND pl.status = 1
        GROUP BY post_id) AS like_count,
    (SELECT 
            COUNT(pl.user_id)
        FROM
            db02.post_like pl
        WHERE
            pl.post_id = p.id AND pl.status = 2
        GROUP BY post_id) AS dislike_count,
    (SELECT 
            COUNT(id)
        FROM
            db02.comment cm
        WHERE
            cm.post_id = p.id AND cm.del_flg = 0
        GROUP BY post_id) AS comment_count,
    (SELECT 
            COUNT(pl.user_id)
        FROM
            db02.post_like pl
        WHERE
            pl.post_id = p.id AND pl.status = 1 AND pl.user_id = #{userId}
        GROUP BY post_id) AS is_like,
   (SELECT 
            COUNT(pl.user_id)
        FROM
            db02.post_like pl
        WHERE
            pl.post_id = p.id AND pl.status = 2 AND pl.user_id = #{userId}
        GROUP BY post_id) AS is_dislike,
   (SELECT 
            COUNT(pl.user_id)
        FROM
            db02.post_view pl
        WHERE
            pl.post_id = p.id) AS view_count
FROM
    post p
		WHERE
		    p.`hash_tag` like '%#{hashTag}%' and 
		        AND p.delflg = 0 
		        AND p.status = 1
		ORDER BY p.create_at DESC
		LIMIT 10 OFFSET #{offset}
	</select>

	<select id="findAllPostByUserId" resultMap="post_result">
		SELECT 
    *,
    (SELECT 
            GROUP_CONCAT(image_list
                    SEPARATOR ', ')
        FROM
            post_image_list
        WHERE
            post_id = p.id
        GROUP BY post_id) AS image_list,
    (SELECT 
            COUNT(pl.user_id)
        FROM
            db02.post_like pl
        WHERE
            pl.post_id = p.id AND pl.status = 1
        GROUP BY post_id) AS like_count,
    (SELECT 
            COUNT(pl.user_id)
        FROM
            db02.post_like pl
        WHERE
            pl.post_id = p.id AND pl.status = 2
        GROUP BY post_id) AS dislike_count,
    (SELECT 
            COUNT(id)
        FROM
            db02.comment cm
        WHERE
            cm.post_id = p.id AND cm.del_flg = 0
        GROUP BY post_id) AS comment_count,
    (SELECT 
            COUNT(pl.user_id)
        FROM
            db02.post_like pl
        WHERE
            pl.post_id = p.id AND pl.status = 1 AND pl.user_id = #{userId}
        GROUP BY post_id) AS is_like,
   (SELECT 
            COUNT(pl.user_id)
        FROM
            db02.post_like pl
        WHERE
            pl.post_id = p.id AND pl.status = 2 AND pl.user_id = #{userId}
        GROUP BY post_id) AS is_dislike,
   (SELECT 
            COUNT(pl.user_id)
        FROM
            db02.post_view pl
        WHERE
            pl.post_id = p.id) AS view_count
FROM
    post p
		WHERE
		    p.user_id IN (${userIds})
		        AND p.delflg = 0 
		        AND p.status = 1
		ORDER BY p.create_at DESC
		LIMIT 10 OFFSET #{offset}
	</select>

	<select id="findPostById" resultMap="post_result">
		SELECT 
    *,
    (SELECT 
            GROUP_CONCAT(image_list
                    SEPARATOR ', ')
        FROM
            post_image_list
        WHERE
            post_id = p.id
        GROUP BY post_id) AS image_list,
    (SELECT 
            COUNT(pl.user_id)
        FROM
            db02.post_like pl
        WHERE
            pl.post_id = p.id AND pl.status = 1
        GROUP BY post_id) AS like_count,
    (SELECT 
            COUNT(pl.user_id)
        FROM
            db02.post_like pl
        WHERE
            pl.post_id = p.id AND pl.status = 2
        GROUP BY post_id) AS dislike_count,
    (SELECT 
            COUNT(id)
        FROM
            db02.comment cm
        WHERE
            cm.post_id = p.id AND cm.del_flg = 0
        GROUP BY post_id) AS comment_count,
    (SELECT 
            COUNT(pl.user_id)
        FROM
            db02.post_like pl
        WHERE
            pl.post_id = p.id AND pl.status = 1 AND pl.user_id = #{userId}
        GROUP BY post_id) AS is_like,
   (SELECT 
            COUNT(pl.user_id)
        FROM
            db02.post_like pl
        WHERE
            pl.post_id = p.id AND pl.status = 2 AND pl.user_id = #{userId}
        GROUP BY post_id) AS is_dislike,
   (SELECT 
            COUNT(pl.user_id)
        FROM
            db02.post_view pl
        WHERE
            pl.post_id = p.id) AS view_count
FROM
    post p
		WHERE
		    p.id IN (${ids})
		        AND p.delflg = 0 
		        AND p.status = 1
		ORDER BY p.create_at DESC
	</select>

	<select id="findAllPostByCondition" resultMap="post_result">
		SELECT 
    *,
    (SELECT 
            GROUP_CONCAT(image_list
                    SEPARATOR ', ')
        FROM
            post_image_list
        WHERE
            post_id = p.id
        GROUP BY post_id) AS image_list,
    (SELECT 
            COUNT(pl.user_id)
        FROM
            db02.post_like pl
        WHERE
            pl.post_id = p.id AND pl.status = 1
        GROUP BY post_id) AS like_count,
    (SELECT 
            COUNT(pl.user_id)
        FROM
            db02.post_like pl
        WHERE
            pl.post_id = p.id AND pl.status = 2
        GROUP BY post_id) AS dislike_count,
    (SELECT 
            COUNT(id)
        FROM
            db02.comment cm
        WHERE
            cm.post_id = p.id AND cm.del_flg = 0
        GROUP BY post_id) AS comment_count,
    (SELECT 
            COUNT(pl.user_id)
        FROM
            db02.post_like pl
        WHERE
            pl.post_id = p.id AND pl.status = 1 AND pl.user_id = #{userId}
        GROUP BY post_id) AS is_like,
   (SELECT 
            COUNT(pl.user_id)
        FROM
            db02.post_like pl
        WHERE
            pl.post_id = p.id AND pl.status = 2 AND pl.user_id = #{userId}
        GROUP BY post_id) AS is_dislike,
   (SELECT 
            COUNT(pl.user_id)
        FROM
            db02.post_view pl
        WHERE
            pl.post_id = p.id) AS view_count
FROM
    post p
		WHERE
		<foreach index="key" item="value" collection="conditionList" open="" separator=" or " close="">
	          p.`${key}` like '%${value}%'
	    	</foreach>
		AND p.delflg = 0 
		        AND p.status = 1
		ORDER BY p.create_at DESC
		LIMIT 10 OFFSET #{offset}
	</select>

	<select id="findPostMostLike" resultMap="post_result">
	SELECT 
    *,
    (SELECT 
            GROUP_CONCAT(image_list
                    SEPARATOR ', ')
        FROM
            post_image_list
        WHERE
            post_id = p.id
        GROUP BY post_id) AS image_list,
    (SELECT 
            COUNT(pl.user_id)
        FROM
            db02.post_like pl
        WHERE
            pl.post_id = p.id AND pl.status = 1
        GROUP BY post_id) AS like_count,
    (SELECT 
            COUNT(pl.user_id)
        FROM
            db02.post_like pl
        WHERE
            pl.post_id = p.id AND pl.status = 2
        GROUP BY post_id) AS dislike_count,
    (SELECT 
            COUNT(id)
        FROM
            db02.comment cm
        WHERE
            cm.post_id = p.id AND cm.del_flg = 0
        GROUP BY post_id) AS comment_count,
    (SELECT 
            COUNT(pl.user_id)
        FROM
            db02.post_like pl
        WHERE
            pl.post_id = p.id AND pl.status = 1 AND pl.user_id = #{userId}
        GROUP BY post_id) AS is_like,
   (SELECT 
            COUNT(pl.user_id)
        FROM
            db02.post_like pl
        WHERE
            pl.post_id = p.id AND pl.status = 2 AND pl.user_id = #{userId}
        GROUP BY post_id) AS is_dislike,
   (SELECT 
            COUNT(pl.user_id)
        FROM
            db02.post_view pl
        WHERE
            pl.post_id = p.id) AS view_count
FROM
    post p
		WHERE
		        p.delflg = 0 
		        AND p.status = 1
		ORDER BY is_like desc
		LIMIT 5 OFFSET 0
	</select>

	<select id="findPostMostComment" resultMap="post_result">
	SELECT 
    *,
    (SELECT 
            GROUP_CONCAT(image_list
                    SEPARATOR ', ')
        FROM
            post_image_list
        WHERE
            post_id = p.id
        GROUP BY post_id) AS image_list,
    (SELECT 
            COUNT(pl.user_id)
        FROM
            db02.post_like pl
        WHERE
            pl.post_id = p.id AND pl.status = 1
        GROUP BY post_id) AS like_count,
    (SELECT 
            COUNT(pl.user_id)
        FROM
            db02.post_like pl
        WHERE
            pl.post_id = p.id AND pl.status = 2
        GROUP BY post_id) AS dislike_count,
    (SELECT 
            COUNT(id)
        FROM
            db02.comment cm
        WHERE
            cm.post_id = p.id AND cm.del_flg = 0
        GROUP BY post_id) AS comment_count,
    (SELECT 
            COUNT(pl.user_id)
        FROM
            db02.post_like pl
        WHERE
            pl.post_id = p.id AND pl.status = 1 AND pl.user_id = #{userId}
        GROUP BY post_id) AS is_like,
   (SELECT 
            COUNT(pl.user_id)
        FROM
            db02.post_like pl
        WHERE
            pl.post_id = p.id AND pl.status = 2 AND pl.user_id = #{userId}
        GROUP BY post_id) AS is_dislike,
   (SELECT 
            COUNT(pl.user_id)
        FROM
            db02.post_view pl
        WHERE
            pl.post_id = p.id) AS view_count
FROM
    post p
		WHERE
		        p.delflg = 0 
		        AND p.status = 1
		ORDER BY comment_count desc
		LIMIT 5 OFFSET 0
	</select>
	
	<select id="findPostMostView" resultMap="post_result">
	SELECT 
    *,
    (SELECT 
            GROUP_CONCAT(image_list
                    SEPARATOR ', ')
        FROM
            post_image_list
        WHERE
            post_id = p.id
        GROUP BY post_id) AS image_list,
    (SELECT 
            COUNT(pl.user_id)
        FROM
            db02.post_like pl
        WHERE
            pl.post_id = p.id AND pl.status = 1
        GROUP BY post_id) AS like_count,
    (SELECT 
            COUNT(pl.user_id)
        FROM
            db02.post_like pl
        WHERE
            pl.post_id = p.id AND pl.status = 2
        GROUP BY post_id) AS dislike_count,
    (SELECT 
            COUNT(id)
        FROM
            db02.comment cm
        WHERE
            cm.post_id = p.id AND cm.del_flg = 0
        GROUP BY post_id) AS comment_count,
    (SELECT 
            COUNT(pl.user_id)
        FROM
            db02.post_like pl
        WHERE
            pl.post_id = p.id AND pl.status = 1 AND pl.user_id = #{userId}
        GROUP BY post_id) AS is_like,
   (SELECT 
            COUNT(pl.user_id)
        FROM
            db02.post_like pl
        WHERE
            pl.post_id = p.id AND pl.status = 2 AND pl.user_id = #{userId}
        GROUP BY post_id) AS is_dislike,
   (SELECT 
            COUNT(pl.user_id)
        FROM
            db02.post_view pl
        WHERE
            pl.post_id = p.id) AS view_count
FROM
    post p
		WHERE
		        p.delflg = 0 
		        AND p.status = 1
		ORDER BY view_count desc
		LIMIT 5 OFFSET 0
	</select>
	
</mapper>