<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.se1.postservice.domain.db.write.WTopicTagMapper">

	<update id="updateTopicTag" parameterType="com.se1.postservice.domain.entity.TopicTag">
		
		Update topic_tag 
		Set 
		<if test="topicTag.tagName != null">
			tag_name = #{topicTag.tagName}
		</if>
		<if test="topicTag.color != null">
			color = #{topicTag.color}
		</if>
		<if test="topicTag.delFlg != null">
			del_flg = #{topicTag.delFlg}
		</if>
		user_update = #{topicTag.userUpdate}
		update_at = #{topicTag.updateAt}
		WHERE id = #{topicTag.id}
	</update>

</mapper>