<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.se1.userservice.domain.db.read.RChatBlockMapper">

	<select id="selectByConditionStr" resultType="com.se1.userservice.domain.model.ChatBlock">
		Select * from chat_block where ${conditionStr}
		<if test="order != null">
			order by #{order}
		</if>
		<if test="limit != null">
			Limit #{limit}
		</if>
		<if test="offset != null">
			Offset #{offset}
		</if>
	</select>
</mapper>
