<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.se1.chatservice.domain.db.read.RChatMapper">
	
	<select id="updateStatus" resultType="com.se1.chatservice.model.Chat">
		Select * from chat 
		Where topic_id = #{topicId}
		Limit #{limit} Offset #{offset}
		Order create_at DESC
	</select>

</mapper>